* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Segoe UI', sans-serif; 
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0f0f0f;
    color: #ffff;
}

nav {
    
}