* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Segoe UI', sans-serif; 
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0f0f0f;
    color: #ffff;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2 rem;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

nav .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
}

nav ul li a:hover {
    opacity: 1;
} 

header {
    height: 100vh;
    position: relative;
}

.carousel {
    position: absolute;
    inset: 0;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease;
}

.carousel img.active {
    opacity: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,.6), rgba(0,0,0,.9));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.hero-content h1 {
    font-size: 3rem;
    letter-spacing: 3px;
}

.hero-content p {
    max-width: 600px;
    opacity: 0.9;
}

section {
    padding: 100px 2rem;
    max-width: 1000px;
    margin: auto;
}

#colecoes {
    background: #141414;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.grid img {
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        font-size: none;
    }
}