* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Segoe UI', sans-serif; 
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0f0f0f;
    color: #ffff;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2 rem;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}